.ReviewWrapper {
  /* display: flex; */
  padding: 10px;
}

.ReviewWrapper:not(:last-child){
    margin-bottom: 10px;
}

.Author {
  width: 300px;
  text-align: left;
  font-style: italic;
  color: rgb(50, 77, 199);
}

.Text {
  text-align: left;
}

.ReadMoreButton{
    display: inline;
    color:rgb(50, 77, 199);
    font-style: italic;
    border:none;
    background-color: transparent;
    cursor: pointer;
}